<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form D'ajout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 style="text-align: center;"> Add New User :)</h1>

                    <form action="/add" method="POST">
                        <div class="form-group">
                          <label for="firstname">FirstName</label>
                          <input type="text" class="form-control" id="firstname" name="firstname">
                        </div>

                        <div class="form-group">
                          <label for="lastname">LastName</label>
                          <input type="text" class="form-control" id="lastname" name="lastname">
                        </div>

                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="text" class="form-control" id="age" name="age">
                          </div>
  
                          <div class="form-group">
                            <label for="profession">Profession</label>
                            <input type="text" class="form-control" id="profession" name="profession">
                          </div>

                        <button type="submit" class="btn btn-primary">Add  + </button>
                      
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!--  -->
            <div class="col">
                <form action="/all" method="get">
                    <button class="btn btn-danger">Get Records</button>
                </form>
            </div>
            <!--  -->
            <div class="col">
                <form action="/all/age" method="get">
                    <button class="btn btn-danger">Get using Age</button>
                </form>
                
            </div>
            <!--  -->
            <div class="col">
                <form action="/all/alpha" method="get">
                    <button class="btn btn-danger">Get using Alphabete</button>
                </form>
            </div>
            <!--  -->
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>